/*@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';    
}

header{
    background-color: #950af1;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid rgb(12, 235, 223);
}

#perfil {
    border-radius: 150%;
    border: solid rgb(12, 235, 223) 5px;
}

#perfil:hover {
    border: 6px solid rgb(140, 67, 212);
}

.container{
    background-color: #e9d7eb;
    min-height: 60vh;
    padding: 50px;
}

.products-container{
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 60%;
    height: 60%;
    display: block;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 0px 0px rgb(12, 235, 223);
    padding: 25px;
    background-color: black;
    color: #fff;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    
}

.card:hover {
    box-shadow: 7px 0px 0px rgb(140, 67, 212); 
    background-color: rgb(219, 150, 205);
}

h2{
    margin-bottom: 10px;
    color: #b244c5;
    font-size: 24px;
    padding-left: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #fff;
    
}


.card p{
    margin-bottom: 10px;
}

footer{
    background-color: #950af1;
    color: #fff;
    border-top: 3px solid rgb(12, 235, 223);
    text-align: center;
    padding: 80px;
}

#icone-gmail:hover {
    transform: scale(1.2);
}

#icone-likedin:hover {
    transform: scale(1.2);
}

#icone-github:hover {
    transform: scale(1.2);
}


/*--Responsivo para celulares--*/
@media (max-width: 450px) {
    .card {
        width: 100%;
        height: 100%;
    }
}

/*--Responsivo para iphone SE--*/

@media (width: 375px) {
    .card {
        width: 100%;
        height: 100%;
    }
}

/*--Responsivo para tabletes--*/
@media (orientation: landscape) {
    .card {
        width: 100%;
        height: 100%;
    }
}
