*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

header{
    background-color: #3db36b;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #0f642f;
}

#perfil {
    border-radius: 150%;
    border: solid rgb(12, 235, 223) 5px;
}

#perfil:hover {
    border: 6px solid rgb(140, 67, 212);
}

.container{
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.products-container{
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 60%;
    height: 60%;
    display: block;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 0px 0px rgb(12, 235, 223);
    padding: 25px;
    background-color: black;
    color: #fff;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    
}

.card:hover {
    box-shadow: 7px 0px 0px rgb(140, 67, 212); 
    background-color: rgb(230, 8, 186);
}

h2{
    margin-bottom: 10px;
    color: #8d13a3;
    font-size: 24px;
    padding-left: 7px;
}


.card p{
    margin-bottom: 10px;
}

footer{
    background-color: #3db36b;
    color: #fff;
    border-top: 3px solid #0f642f;
    text-align: center;
    padding: 80px;
}

#icone-gmail:hover {
    transform: scale(1.2);
}

#icone-likedin:hover {
    transform: scale(1.2);
}

#icone-github:hover {
    transform: scale(1.2);
}


/*------------------------------------*/

@media (max-width: 450px) {
    header{
        background-color: #18c8dc;
        border-bottom: 3px solid blue;
    }  

    .card {
        width: 100%;
        height: 100%;
    }
}



